  <form method="get" action="/quizes/<%= quiz.id %>/answer">
    Categoria: <%= quiz.categoria %><br/>
    Pregunta: <%= quiz.pregunta %>
    <input type="text" name="respuesta" value="Respuesta" />
    <input type="submit" value="Enviar" />
  </form>
